
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cookies</title>
</head>
<body>
    <div>
        <h2>Cookies received: @ViewBag.Cookies</h2> 
    </div>
</body>
</html>
