<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>

    <sharedListeners>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="OwinTraces.log" />
    </sharedListeners>

    <trace autoflush="true" />

    <sources>
      <source name="Microsoft.Owin">
        <listeners>
          <add name="file" />
        </listeners>
      </source>

      <source name="KatanaBasics.MyMiddleware">
        <listeners>
          <add name="file1" type="System.Diagnostics.TextWriterTraceListener" initializeData="OwinTraces-MyCustomMiddleware.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>