<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>

      <!-- This section is optional with the default configuration
        model introduced in .NET Framework 4 -->
      <service name="STSActiveService.WSFederationSecurityTokenService" behaviorConfiguration="WSFederationSecurityTokenServiceBehavior">

        <!-- This endpoint is exposed at the base address provided by host:  
          address="" ==> http://localhost/service.svc    
          address="/HelloWorld1/" ==> http://localhost/service.svc/HelloWorld1
          -->


        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restBehavior" 
                  contract="STSActiveService.IWSFederationSecurityTokenService"/>

        <!-- The mex endpoint is exposed at http://localhost/service.svc/mex -->
        <!-- IMetadataExchange need servicemetadata to be enabled in behaviours
           -->

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>

    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="WSFederationSecurityTokenServiceBehavior">
       
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>

          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <!-- Rewrite the usual federationmetadata.xml path to be rerouted to the service.
    <rewrite>
      <rules>
        <rule name="Rewrite federation metadata url">
          <match url="(federationmetadata/2007-06/federationmetadata.xml)"/>
          <action type="Rewrite" url="WSFederationSecurityTokenService.svc/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    -->
  </system.webServer>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="All">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    -->
</configuration>
